In [13]:
import pandas as pd
df = pd.read_csv("AB_NYC_2019.csv")

In [14]:
df.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
36318,28897533,"Newly built Apt in 2015, 3min to Subway",204704622,Momoyo,Queens,Elmhurst,40.73902,-73.87702,Private room,32,29,1,2019-02-18,0.21,7,35
18977,15069259,Cozy Room in Historic BedStuy,57793192,Daniel,Brooklyn,Bedford-Stuyvesant,40.69264,-73.94267,Private room,59,3,0,NaN,NaN,1,0
18494,14557504,Cozy & Clean #5,23533897,Fatou,Brooklyn,Crown Heights,40.67479,-73.95190,Private room,75,1,22,2019-06-22,0.63,7,319
46460,35262429,Cute Bright 1 Bedroom apartment in Bushwick,94422691,Omar,Brooklyn,Bushwick,40.69694,-73.90766,Entire home/apt,67,2,1,2019-07-03,1.00,1,0
16981,13496448,Sunny apartment in Lower East Side (LES),21604714,Roxy,Manhattan,Lower East Side,40.71934,-73.98172,Private room,75,2,3,2018-05-20,0.08,1,0
26367,21005994,Sun-filled Bed-Stuy Apt with Master Bedroom!,676140,Claire,Brooklyn,Bedford-Stuyvesant,40.69321,-73.94207,Private room,80,3,5,2019-03-23,0.23,1,0
45016,34491852,550 Square Feet Suite near Central Park,261750091,The Michelangelo,Manhattan,Theater District,40.76112,-73.98377,Private room,100,1,1,2019-06-30,1.00,7,320
11880,9249597,Typical Cozy 1BR - Prime Upper West,20694807,Alexandre,Manhattan,Upper West Side,40.77912,-73.97976,Entire home/apt,150,6,1,2016-01-01,0.02,1,0
18393,14462592,A cozy luxurious bed and breakfast,79641851,Mia,Staten Island,Howland Hook,40.63014,-74.17459,Entire home/apt,100,4,20,2018-09-24,0.57,1,363
22652,18329982,Gorgeous Studio in Greenpoint with City Views,7503643,Vida,Brooklyn,Greenpoint,40.72749,-73.94060,Entire home/apt,129,30,0,NaN,NaN,52,5

In [15]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [16]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [17]:
df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [18]:
min_threshold,max_threshold = df.price.quantile([0.001,0.999])
max_threshold,min_threshold

(3000.0, 18.0)

In [20]:
df = df[(df.price<max_threshold) & (df.price>min_threshold)]
df.shape

(48792, 16)

In [21]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [22]:
df.price.describe()

count    48792.000000
mean       147.257952
std        153.226602
min         19.000000
25%         69.000000
50%        106.000000
75%        175.000000
max       2999.000000
Name: price, dtype: float64